<div class="container mat-app-background">
  <form (submit)="login()" [formGroup]="form">
      <h2>Log in</h2>

      <fieldset>
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" placeholder="E-mail">
      </fieldset>
      <fieldset>
          <label for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Password">
      </fieldset>


      <p class="tiny">Don't have an account? <a href="" [routerLink]="['../signup']">Sign up</a></p>
      <button [disabled]="form.invalid" mat-flat-button color="accent" type="submit">
        Log in
      </button>

      <div *ngIf="message" class="error">{{message}}</div>

  </form>
</div>
